* {
  font-family: 'Arial', 'serif';
}

body {
  margin: 0;
  background-image: linear-gradient( #66b3ff, white);
}

h1 {
  margin: 0;
  padding: 20px 0 10px 0;
  color: #ffffff;
  text-align: center;
}

h2 {
  color: #66b3ff;
}

.nav-bar {
  margin: 0;
  color: white;
  list-style: none;
  text-align: center;
  padding: 20px 0 20px 0;
}

.nav-bar li {
  /* horizontal line */
  display: inline-block;
  padding: 10px 20px 10px 20px;
  font-weight: bold;
  border: solid #ffffff;
  background-color: #99ccff;
}

a {
  text-decoration: none;
  color: #4da6ff;
}

.nav-bar li a {
  color: #ffffff;
}

.nav-bar li a:hover {
  color: #4da6ff;
}

#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
  background-color: #ffffff;
  border: solid #ffffff;
  padding: 10px;
}

#greeting-container {
  margin-top: 20px;
}

#quote-container {
  margin-top: 20px;
}

img {
  border-radius: 10px;
  width: 50%;
  border: solid #66b3ff;   
  padding: 3px;
}

.bioImage {
  float: left;
  margin-right: 10px;
  margin-bottom: 5px;
}

.abroadImage {
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.caption {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.projectTitle {
  font-weight: bold;
}





.icon:hover {
  opacity: 0.7;
}















/* .iconGroup { */
    /* margin: 0;
    padding: 0;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */

    /* margin: 0;
    padding: 0;
    position: fixed;
    top: 40%;
    left: 5%;
    transform: translate(-50%, -50%);
} */







/* .iconGroup .icon {
    list-style: none;
    margin: 0 15px;
    padding: 10px; /*added*/
/* } */ 

/* 
.iconGroup .icon a {
    position: relative;
    display: block;
    width: 70px;
    height: 70px;
    text-align: center;
    line-height: 60px;
    background: #333;
    border-radius: 50%;
    font-size: 30px;
    color: #666;
    transition: 0.5s;
}

.fa-github,
.a-linkedin,
.fa-envelope-o {
  position: absolute;
  top: 20px;
  left: 21px;
}

.fa-envelope-o {
  left: 18px;
}

.iconGroup .icon a:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #ffee10;
    transition: 0.5s;
    transform: scale(0.9);
    z-index: -1;
}

.iconGroup .icon a:hover:before {
    transform: scale(1.1);
    box-shadow: 0 0 15px #ffee10;
}

.iconGroup .icon a:hover {
    color: #ffee10;
    box-shadow: 0 0 15px #ffee10;
    text-shadow: 0 0 5px#ffee10;
} */