* {
  font-family: 'Arial', 'serif';
}

body {
  margin: 0;
  background-image: linear-gradient( #66b3ff, white);
}

h1 {
  margin: 0;
  padding: 20px 0 10px 0;
  color: #ffffff;
  text-align: center;
}

h2 {
  color: #66b3ff;
}

.nav-bar {
  margin: 0;
  color: white;
  list-style: none;
  text-align: center;
  padding: 20px 0 20px 0;
}

.nav-bar li {
  /* horizontal line */
  display: inline-block;
  padding: 10px 20px 10px 20px;
  font-weight: bold;
  border: solid #ffffff;
  background-color: #99ccff;
}

a {
  text-decoration: none;
  color: #4da6ff;
}

.nav-bar li a {
  color: #ffffff;
}

.nav-bar li a:hover {
  color: #4da6ff;
}

#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
  background-color: #ffffff;
  border: solid #ffffff;
  padding: 10px;
}

#greeting-container {
  margin-top: 20px;
}

#quote-container {
  margin-top: 20px;
}

img {
  border-radius: 10px;
  width: 50%;
  border: solid #66b3ff;   
}

.bioImage {
  float: left;
  margin-right: 10px;
  margin-bottom: 5px;
}

.abroadImage {
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.caption {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.projectTitle {
  font-weight: bold;
}
